*{
    margin:0;
    box-sizing: border-box;
}
.layout{
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-rows: 60px 1fr 100px;
    grid-template-columns: 200px 1fr;
}

.title{
    padding: 10px 10px;
}
.Logo{
    display: flex;
    align-items: center;
    gap: 2pt;
    margin: 10px;
}

body{
    font-family: 'PT Serif', serif;
    background-image: url(./fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: grey solid 1px;
    position: sticky;
    top: 0px;
    background-color:rgb(247, 108, 44);
    z-index: 2;
}
    
header i{
    flex: 1;
    margin: 0;
    line-height: 0;
}

main{
    grid-area: main;
    display: block; /*empurra o proximo conteudo para a proxima linha*/
    padding: 0px 20px;
}
ol li:last-child{
    padding-bottom: 20px;
}

aside{
    grid-area: aside;
    border-right: grey solid 1px;
    background-color:rgb(255, 186, 130);
    flex: 1;
}


aside a{
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: black;
}

aside ul:hover{
    text-decoration: none;
}
aside ul{
    list-style: none;
    padding: 10px;
}
img{
    margin-left: 120px;
    width: 37%;
    height: 20%;
}

iframe{
    position: relative;
    left: 120px;
}

form label:nth-of-type(1){
    font-weight: bold; /* intensidade da font*/
    border-top: grey solid 1px ;
    display: block;
    padding: 10px 0px;
}

form label:nth-of-type(2){
    display: block;
    padding: 10px 0px;
}

form textarea{
   margin: 5px;
}

footer a:hover{
    color:mediumvioletred;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    padding: 0px 10px
}

footer{
    grid-area: footer;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-top: grey solid 1px;
}